*{
    margin: 0;
     padding: 0;
    box-sizing: border-box;
}
:root {
  --mainpink:#ef7998;
  --mainYellow:rgb(249,228,148);
  /*--mainWhite:#000;
  --mainblack:#fff;
  --lightblack:rgba(255,255,255,.2);
  --morelightblack:rgba(255,255,255,.1);*/
  --mainWhite:#fff;
  --mainblack:#000;
  --lightblack:rgba(0,0,0,.2);
  --morelightblack:rgba(0,0,0,.1);
  --yellowtrans:rgba(249,228,148,0.5);
  --maingray:rgb(238,238,238);
  --mainOrange:#ff9933;
}  
body{
    background: var(--mainWhite);
    color: var(--mainblack);
    font-family: serif;
}
.modal{
    
    color: black;
}
a{  
    text-decoration: none;
    color: var(--mainblack);
}   
a:hover{
    text-decoration: none;
    color: var(--mainblack);
}  

input{ 
    background: var(--mainWhite) !important;
    color: var(--mainblack) !important;
    text-transform: uppercase;
}   
input{
    border:1px solid var(--mainblack) !important;
    width: 100%;
    border-radius: 7px;
    padding: 10px;
}  
input:focus{
    box-shadow: 0px 2px 5px 4px rgba(0,0,0,.1) !important;
    border:1px solid var(--mainblack) !important;
    outline: none;
}
ul,li{
    list-style:square;
}
.box_shadow{
  background: var(--mainWhite);
  box-shadow:0px 1px 4px 5px var(--morelightblack);
  border-radius: 7px;
  border: 1px solid var(--mainWhite);
  
}   
.nav_bar{
    background: var(--mainWhite);
    
    box-shadow: 0px 2px 10px var(--lightblack);
}    

.margin-top{
    margin-top: 80px !important;
} 
.nav_bar{
 
}
/*home start*/
.generated_link{
   border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid red !important;
    
}  
.links a{
    margin-top: 0px !important;
}  

/*message section start*/
textarea{
    border: 3px solid #ff9933 !important;
    
}  
.heart{
    font-size: 4rem !important;
}
.modal-body input{
    background: white !important;
    border: 1px solid #ff9933 !important;
    color: black !important;
    text-transform: none;
}
.footerlink a{
    color: white !important;
}
 